*,
*::before,
*::after{
    box-sizing:border-box;
}

.wraper{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 300px 1fr auto auto 50px;
    grid-template-areas:
    "header"
    "hero"
    "mymenu"
    "mycontent"
    "myad"
    "footer"

}    

.img-text{
    position: absolute;
  top: 37%;
  left: 46%;
  transform: translate(-50%, -50%);
  font-size: large;
  border: white 0.5px solid;
  color: white;

}
.header{
    display:grid;
    background-color: white;
    overflow: hidden;
    grid-area: header;
 }

 .header-ul > li {
    display:inline;
    
  }

   .header-ul{
  overflow: hidden;
  text-align: center;
   }
  
   .header a{
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }


.hero{
    background-color: rgb(49, 43, 16);
    grid-area: hero;
    overflow:hidden;
    border: 3px solid black;
}

.mymenu{
    background-color: rgba(187, 230, 231, 0.589);
    grid-area: mymenu;
    border: 3px solid black;
    text-align:center;
}
.mycontent{
    background-color:rgb(253, 253, 253);
    grid-area: mycontent;
    border: 3px solid black;
}

.mycontent h2{
    text-align:center;
}

.myad{
    border: 2px solid black;
    grid-area: myad;
    overflow:hidden;
    background-color: rgb(5, 139, 184);
    
}

.myad-img{
    display:block;
    margin-left:auto;
    margin-right: auto;
}
 

.footer{
    background-color: rgba(216, 215, 211, 0.466);
    grid-area: footer;
    border: 3px solid black;
    text-align:center;
    font-size: xx-large;
}


@media (min-width:992px){
.wraper{
    grid-template-columns: 1fr 200px;
    grid-template-rows: 70px 1fr 230px 60px;
    grid-template-areas:
    "header    header"
    "hero      myad"
    "mycontent mymenu"
    "footer    footer"
}

.myad{
    border: 2px solid black;
    grid-area: myad;
   overflow:hidden;
}
.img-text{
    position: absolute;
  top: 37%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  border: white 1px solid;
  
  color: white;

}

}